/* 全体 */
body {
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
	background-color:white; /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav{
  background: #F2F3F4;
}
footer{
	font-size: 25px;
	color: #F2F3F4;
	background-color: #1F1E26;
	height: 170px;
	position: relative;
	bottom: 0;
	}
.sns a{
	display: inline-block ;
	margin:80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #4A4952;
}
/* ヘッダー内見出し */
header span{
	font-size: 25px;
}
header h1 {
	text-align: left;
	padding: 0px;
  	position: relative;
  	font-size: 25pt;		
  }
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid lightyellow;
	height: 50px;
}
/* 表 */
table {
	font-size: 25px;
	margin: 0 auto;
	background-color:#F2F3F4;
    min-width: 800px;
    width: 70%;
}
/* 表見出しセル */
table th {
	background:#4A4952;
	color: #ffffff;
	 height: 60px;
}
/* 送信ボタン */
button {
	font-size: 25px;
	margin: 2px;
	padding: 5px 20px;
	background-color: #A2D43D;
	color: #ffffff;
	border: none;
	width:130px;
	height: 50px;
	cursor: pointer;
	border-radius: 50px;
}
.hako{
	height: 50px;
	margin: 30px;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #03C03C;
}
.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

/* ホーム画面*/

.line2 a {
	width: 180px;
	height: 40px;
	font-size: 22px;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    color:#4A4952 ;
    background: #FBCB3A;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    border-radius: 50px;
    margin-left: 40px;
    margin-top: 10px;
    text-decoration:none;
}
.line2 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 46%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.line2 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}
	
.roll {
	width: 820px;
	padding: 0px;
	overflow-y: scroll; 
	height: 450px;
	margin-left: 40px;
	margin-top: 60px;
	margin-bottom: 20px;
}
.eiyou1{
	width: 780px;
	margin-right: 0px; 
}
.eiyou2{
	width: 780px;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 50px;
}
.daimei{
	height: 70px;
	font-size: 30px;
	background-color: #4A4952;
}
.eiyou3{
width: 40%;
padding: 0px;
margin-left: 70px;
margin-right: 70px;
margin-top: 40px;
}
.rollp{
	display: flex;
}
.eiyou2message{
	width: 100%;
	height: 230px;
	display: inline-flex;
	text-align: center;
	margin: 0;
}
/*コメント表示*/
.message {
	margin-top: 30px;
	margin-right: 50px;
    position: relative;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    border: solid 5px lawngreen;
    border-radius: 10px;
    width: 750px;
    height: 100px;
  
}

  /* メニューバー*/
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color:#F2F3F4;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color:#37B049 ;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #F2F3F4;
        opacity: 0.5;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #F2F3F4;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px white;
    list-style: none;
    text-align: left;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#1F1E26;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #1F1E26;
    border-right: solid 2px #1F1E26;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #F2F3F4;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 80%;/*メニューを画面内へ*/
}
/* 会員登録画面*/
.text1{
	font-size: 20px;
    height: 40px;
	width: 20%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.text1:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.account{
	font-size: 25px;
	height: 700px;
}
.account th{
	width: 30%;
}
.account td{
	width: 40%;
}

/* おすすめ検索*/
.recommend-choice {
	font-size:35px ;
}
.kondate{
	 border: solid 5px #333;
	background-color: transparent;
	padding-top: 100px;
	padding-bottom: 50px;
	 height: 300px;
	width: 400px;
	 margin-top: 30px;
	 margin-bottom: 30px;
	 margin: 50px;

	display:inline-block;
}
.recommend{
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.aaaa{
	font-size: 20px;
}