/* 全体 */
body {
	background-color: #EDF4FC ; /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer {
	 background: #D4F4FC;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
}
/* ヘッダー内見出し */
header h1 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
  	font-size: 20pt;
	margin: 10px auto;
	text-align: left;
		
  }
h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ff8b5f;
  bottom: -3px;
  width: 20%;
}	


/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}
/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid #7d8bae;
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
}
/* 表見出しセル */
table th {
	background: #7d8bae;
	color: #ffffff;
}
/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: #e5857b;
	color: #ffffff;
	border: none;
	width:150px;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}
.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

/* ボックス*/
.parent {
    text-align: center;         /* 子要素を左右中央揃えにする */
    border: solid 2px;          /* 枠線指定 */
    padding:  20px;             /* 余白指定 */
}
.inline-block_test {
    display: inline-block;        /* インラインブロック要素にする */
    background-color:  #ccc;      /* 背景色指定 */
    padding: 20px; 
    height: 100px;
}