<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>食べたもの登録</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>	
		<header th:replace="header"></header>
	<main>
		<div class="kennsaku">
		<form action="/choice/search" method="get">
			<input type="hidden" name="categoryId" th:value="${categoryId}">
			<input type="text" name="keyword" th:value="${keyword}" placeholder="キーワードを入力"  class="kennsaku1">
			<button>検索</button>
		</form>
		</div>
</form>
		
		<table border="1">
		<tr>
			<th>食品名・材料</th>
		</tr>
		
		<tr th:each="food:${foods}">
			<td><a th:href="|/choice/regist?foodId=${food.id}|" th:text="${food.name}" style="padding-left: 10px;"></a></td>
		</tr>
		</table>

	<form action="/main" method="get">
	   <button class="modoru1">戻る</button>
	 </form>
	
	</main>
	<footer th:replace="footer"></footer>
</body>
</html>