<header>
	<h1>健康管理サイト</h1>
	<span th:text="${@account.name}+' さんがログイン中'"></span>
	<br>


	   <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul>
                <li>
                   <a href="/main">ホーム画面</a>
                </li>
                <li>
    	  			<a href="/history">これまでの記録</a>
                </li>
                <li>
                   	<a href="/recommend">オススメの献立</a>
                </li>
                   <li>
                   	 <a href="/">ログアウト</a>
                </li>
            </ul>
        </div>
</header>