<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
	<header>
	<h1>健康管理アプリ</h1>
	</header>
	<th:block>
		<span style="color: red;">
			[[${message}]]
			<br>
		</span>
	</th:block>
	
	<form action="/login" method="post">
		<input type="text" name="email" placeholder="メールアドレス" th:value="${email}">
		<br>
		<input type="text" name="password" placeholder="パスワード" th:value="${password}">
		<br>
		<button class="btn-gradient-radius">ログイン</button>
	</form>
	<form action="/account" method="get">
		<input type="submit" value="会員登録はこちら">
	</form>
	<footer th:replace="footer"></footer>
</body>
</html>