<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<style>
	
</style>
<body>
		<header th:replace="header"></header>
	<hr>
	
	<div class="line2">
		<a href="/menu/add" >Myメニュー追加</a>
		<a th:each="category:${categories}"
		th:href="|/choice?categoryId=${category.id}|">
		[[${category.name}]]</a>
	</div>
		 <p class="eiyou1"><img th:src="${dataUri}"></p>
	<div class="roll">
	<table border="1" class="eiyou1" >
		<tr>
			<th colspan="6" class="daimei">今日の栄養素計算表</th>
		</tr>
		<tr>
			<th>食品名・材料</th>
			<th>炭水化物(g)</th>
			<th>タンパク質(g)</th>
			<th>脂質(g)</th>
			<th>ビタミン(μg)</th>
			<th>ミネラル(mg)</th>
		</tr>
		<tr th:each="food:${histories}">
			<td>[[${food.name}]]</td>
			<td>[[${food.carbohydrates}]]</td>
			<td>[[${food.protein}]]</td>
			<td>[[${food.lipid}]]</td>
			<td>[[${food.vitamin}]]</td>
			<td>[[${food.mineral}]]</td>
		</tr>
		<tr>
			<th>合計摂取量</th>
			<td>[[${total1}]]</td>
			<td>[[${total2}]]</td>
			<td>[[${total3}]]</td>
			<td>[[${total4}]]</td>
			<td>[[${total5}]]</td>
		</tr>
	</table>
	</div>
	<br>
	<table border="1" class="eiyou2">
		<tr>
			<th colspan="5" class="daimei">必要な栄養素</th>
		</tr>
		<tr>
			<th>炭水化物(g)</th>
			<th>タンパク質(g)</th>
			<th>脂質(g)</th>
			<th>ビタミン(μg)</th>
			<th>ミネラル(mg)</th>
		</tr>
		<tr>
			<td>[[${gap[0]}]]</td>
			<td>[[${gap[1]}]]</td>
			<td>[[${gap[2]}]]</td>
			<td>[[${gap[3]}]]</td>
			<td>[[${gap[4]}]]</td>
		</tr>
	</table>
	<div class="message">
    <span class="box-title">
<!--		<th:block th:each="c:${comments}">-->
<!--			[[${c}]]<br>-->
<!--		</th:block>-->
<!--		<th:block th:if="comment1">-->
<!--			[[${comment1}]]<br>-->
<!--			<span th:text="${comment2}"></span><br>-->
<!--			<span th:text="${comment3}"></span>-->
<!--		</th:block>-->
	</span>
	</div>
</div>
	<footer th:replace="footer"></footer>
</body>
</html>