<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>メニュー追加登録</title>
</head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>	
			<header th:replace="header"></header>
			
			<th:block>
				<span style="color: red;">[[${message1}]]</span><br>
				<span style="color: red;">[[${message2}]]</span><br>
			</th:block>
	<main>
		<form action="/menu/add" method="post">
		<table border="1" class="3">
				<tr>
					<th>料理名/野菜名</th>
					<td><input type="text" name="name" th:value="${name}" required></td>
				</tr>
				<tr>
					<th>炭水化物(g)</th>
					<td><input type="text" name="carbohydrates" th:value="${carbohydrates}" required></td>
				</tr>
				
				<tr>
					<th>タンパク質(g)</th>
					<td><input type="text" name="protein" th:value="${protein}" required></td>
				</tr>
				
				<tr>
					<th>脂質(g)</th>
					<td><input type="text" name="lipid" th:value="${lipid}" required></td>
				</tr>
				
				<tr>
					<th>ビタミン(μg)</th>
					<td><input type="text" name="vitamin" th:value="${vitamin}" required></td>
				</tr>
				
				<tr>
					<th>ミネラル(mg)</th>
					<td><input type="text" name="mineral" th:value="${mineral}" required></td>
				</tr>
			</table>
			<button　class="tuika">メニュー追加登録</button>
		</form>
	</main>
	<footer th:replace="footer"></footer>
</body>
</html>