<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
	
	<header th:replace="header"></header>
	
	<th:block th:each="recommend:${recommends}">
			[[${recommend.name}]]
			<img th:src="${recommend.pic}" width="200px" height="160px" alt="イラスト">
	</th:block>
	
	<form action="/main" method="get">
	   <button class="modoru">戻る</button>
	 </form>	
	
	<footer th:replace="footer"></footer>
</body>
</html>