<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>今週の記録</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
		<header th:replace="header"></header>
		<br>
		<th:block th:each="history:${histories}">
		<table border="1">
			<th:block th:each="h, c:${history}">
			<tr th:if="${c.index} == 0">
				<th>[[${h.day}]]</th>
			</tr>
			<tr>
				<td>[[${h.name}]]</td>
			</tr>
		</table>
		<br>
		    </th:block>
		</th:block>
		
	<footer th:replace="footer"></footer>
</body>
</html>